@charset "utf-8";


.location_content {
  width: 100%;
  height: 800px;
  min-width: 641px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.location_content .map_max {
  position: relative;
  width: 100%;
  height: 100%;
}