@media screen and (min-width: 768px) {
  .itemList .date {
    white-space: nowrap; 
  } 
  
  .eventNews .itemList .wrap, .shopNews .itemList .wrap {
    padding: 30px 20px 60px;
  }
  
  #magazine #submitBtn {
    margin-right: 10px;
  }
  
  .noImgShopName {
    font-weight: bold;
    font-size: 1em;
    line-height: 140%;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .noImgFreeTxt {
    font-size: 0.857em;
    line-height: 140%;
  }
  #special .shopCont.clm .imgArea {
    float: left;
    left: -20px;
    width: 37.0625%;
    margin-bottom: 0;
  }
  #special .shopCont.clm .txtArea {
    position: relative;
    float: left;
    width: 60.9375%;
  }
  #special .shopCont.clm .imgArea iframe {
    padding-left: 20px;
  }
  .itemList .dateShop {
    font-size: 0.8em;
    width: 90%;
    margin: 0 auto 10px;
    line-height: 140%;
    background: #eee;
    margin-bottom: 10px;
    padding: 4px 10px;
  }
}
@media screen and (max-width: 767px) {
  #footerFlash {
    display: none;
  }

  .newsList .itemList #topShopNews {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    margin: 0 0 0 0;
    font-size: 12px;
    width: auto;
    padding-left: 0px;
    background: url(../img/common/ico_event_01.png) no-repeat left 4px;
    background-size: 0px auto;
    word-break: normal;
    }

  dl#shopNewsDtl {
    margin: 0 0 0 0;
  } 
  
  .wrap p#specialShopName.shopName {
    margin: 33px 0 0 25%;
  }
  
  #special .itemList .thum {
    display: inline;
  }
  
  .rankingTable td {
    padding: 10px 20px;
  }
  
  #closeBtn {
    right: 90px;
  }
  
  .noImgShopName {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    margin: 0 0 10px 0;
    clear: both;
  }
  
  .noImgFreeTxt {
    font-size: 0.857em;
    line-height: 140%;
  }
  #special .shopCont.clm {
    padding: 20px;
  }
  
  .itemList .dateShop {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.flash_failure {
    color: #CD0A0A;
    padding: 10px;
}

.ytIframe, .ytIframeSpecial {
  position: relative;
  width: 100%;
}

.ytIframe {
  padding-top: 56.25%;
}

.ytIframeSpecial {
  padding-top: 20.25%;
}

.ytIframe iframe, .ytIframeSpecial iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
}

.ytIframe iframe {
  height: 100% !important;
}

a.wrap.datePosition {
  padding: 20px;
}

a.rankingLink {
  text-decoration: underline;
}

a.rankingLink:hover {
  color: #999;
}

.counter {
  text-align: right;
  margin: 0 5% 30px 0;
}

#shopCounter {
  text-align: right;
  margin: 10px 20px 20px 0;
}
.ads_description {
  padding: 15px; 
}
.specialTtl {
  font-weight: bold;
  clear: both;
  text-align: left;
  margin: 10px 0 20px;
}
.specialTtlArticle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 30px; 
}

#recruitShopName {
  font-weight: bold;
}

#warnBox {
    color: red;
    font-size: 20px;
    margin: 20px;
}

.float_left{
    float: left !important;
}
#special .shopCont.clm .txtArea {
  line-height: 1.2em;
}