@charset "UTF-8";

#wrapper.top #main {
  padding-top: 0px;
}
.pageTtl {
  background: #000000;
}
h2.sortTtl, #sort .sub {
  margin-left: 0;
}
/*  recruit
-------------------------*/
#recruit .itemList li {
  height: 300px;
}
#recruit .itemList .thum {
  height: auto;
}
#recruit .itemList .thum img {
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
}
#recruit .itemList .shopName {
  font-weight: bold;
}
#recruit .itemList + .pageNav {
  margin-top: 20px;
}
#recruit .snsLi {
  width: auto !important;
}
#recruit .shopInfo {
  margin-bottom: 0;
}
#recruit #post.clm .txtArea,
#recruit #post.clm #txtArea,
#recruit .post.clm .txtArea,
#recruit .post.clm #txtArea {
  float: right;
  clear: both;
}
#recruit #post.clm #imgArea,
#recruit #post.clm .imgArea,
#recruit .post.clm #imgArea,
#recruit .post.clm .imgArea {
  top: 0;
  float: right;
  clear: none;
}
#recruit .date {
  margin-top: 30px;
  margin-bottom: 0;
  clear: both;
}


@media screen and (max-width: 1280px) {
  
}
@media screen and (max-width: 1220px) {
  
}
@media screen and (max-width: 1035px) {
  
}
@media screen and (max-width: 1025px) {
  
}
@media screen and (max-width: 945px) {

}
@media screen and (max-width: 767px) {
  .pageTtl {
    margin-bottom: 20px;
  }
  #wrapper.top #main {
    padding-top: 0;
  }
  #recruit .itemList li {
    height: auto;
  }
  #recruit .itemList .shopName {
    background: none;
    padding-left: 0;
  }
  #recruit .shopDtlTable {
    margin-bottom: 0;
  }
  #recruit .shopDtlTable .sTtl {
    margin-bottom: 10px;
  }
  #recruit .shopDtlTable .area {
    margin-bottom: 6px;
    font-size: 12px;
  }
  #recruit .txtArea,
  #recruit #txtArea {
    margin-bottom: 20px;
  }
  #recruit .imgArea,
  #recruit #imgArea {
    margin-bottom: 0;
  }
  #recruit .date {
    margin-top: 20px;
  }
  .page_navigation, .alt_page_navigation {
    padding-bottom: 0;
  }
}